@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Import your component CSS files here */
/* e.g. These can include classes with grouped tailwind code */
/* @import "XXX.css"; */
@import './stars.css';

@layer components {
  * {
    @apply border-2 border-slate-100 border-dashed;
  }
  *:hover {
    @apply border-2 border-slate-800 border-solid;
  }
}
