@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Import your component CSS files here */
/* e.g. These can include classes with grouped tailwind code */
/* @import "XXX.css"; */
@import './stars.css';

@layer components {
  #root {
    @apply bg-gray-500;
  }
  .standard-border {
    @apply border-1 border-secondary-300 border-solid;
  }
  .standard-border-dark {
    @apply border-1 border-primary-300 border-solid;
  }
  .standard-grid {
    @apply md:grid md:grid-cols-[minmax(400px,_550px)_400px];
  }
  .view-standard {
    @apply w-full;
  }
  .style-unselected {
    @apply border-2 border-secondary-200 border-solid;
  }
  .style-unselected:hover {
    @apply border-2 border-secondary-200 border-solid ring ring-white ring-offset-2 ring-offset-secondary-300/25;
  }
  .style-selected {
    @apply border-3 border-secondary-300 border-solid ring ring-secondary-300/25 ring-offset-2 ring-offset-secondary-300/50;
  }
  .image-selected {
    @apply border-2 border-secondary-300 border-solid ring-2 ring-secondary-300/25;
  }
  .style-unselected-dark {
    @apply border-2 border-primary-200 border-solid;
  }
  .style-unselected-dark:hover {
    @apply border-2 border-primary-200 border-solid ring ring-black ring-offset-2 ring-offset-primary-300/25;
  }
  .style-selected-dark {
    @apply border-3 border-primary-300 border-solid ring ring-primary-300/25 ring-offset-2 ring-offset-primary-300/50;
  }
  .image-selected-dark {
    @apply border-2 border-primary-300 border-solid ring-2 ring-primary-300/25;
  }
}
