[class^="star"] {
  display: inline-block;
  position: relative;
  font-size: 100px;
  color: #cccccc;
}

.starFull:after {
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  color: rgb(244, 167, 0);
}
.star1:after {
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  overflow: hidden;
  color: rgb(244, 167, 0);
}
.star2:after {
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  overflow: hidden;
  color: rgb(244, 167, 0);
}
.star3:after {
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 75%;
  overflow: hidden;
  color: rgb(244, 167, 0);
}

[class^="Dstar"] {
  display: inline-block;
  position: relative;
  font-size: 100px;
  color: #c8e8ff;
}

.DstarFull:after {
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  color: #f80;
}
.Dstar1:after {
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  overflow: hidden;
  color: #f80;
}
.Dstar2:after {
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  overflow: hidden;
  color: #f80;
}
.Dstar3:after {
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 75%;
  overflow: hidden;
  color: #f80;
}

::selection {
  background-color: #6120d8;
  color: #f80;
}